:root {
  --spice-card: #2C1E11;
  --spice-tab-active: #1C130D;
  --spice-main: #1C130D;
  --spice-misc: #1C130D;
  --spice-player: var(--spice-card);
}

.encore-dark-theme .encore-bright-accent-set {
  --background-press: #2c1e11 !important;
}

.main-trackInfo-genres {
  left: 0 !important;
  bottom: 0 !important;
  margin-bottom: 16px !important;
  padding: 0px !important;
}

.main-nowPlayingWidget-nowPlaying {
  height: 89px !important;
}

.main-trackInfo-container {
  align-self: start !important;
  margin-top: 22px !important;
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader{
  transition: 400ms !important;
  border-radius: 10px !important;
}

.artist-artistDiscography-headerContainer {
  background: none !important;
}

.EvQHNTBhaU3rGCRRlAWj.QplCuuGSoV4updqTSLq9 {
  background-color: var(--background-base) !important;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.main-trackList-trackListHeaderStuck.main-trackList-trackListHeader {
  background-color: var(--background-base) !important;

}

.main-topBar-overlay {
  background-color: var(--background-base) !important;
}

.main-repeatButton-active svg {
  color: #D1AC89 !important;
}

.main-repeatButton-button.main-repeatButton-active:after {
  background-color: #D1AC89 !important;
  border-radius: 10px !important;
}

.main-shuffleButton-button.main-shuffleButton-active:after {
  background-color: #D1AC89 !important;
}

.main-shuffleButton-active svg {
  color: #D1AC89 !important;
}

.Root__top-bar {
  border-radius: 0px !important;
  background-color: #2C1E11 !important;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.main-home-homeHeader {
  display: none !important;
}

.spotify__container--is-desktop:not(.fullscreen) .main-navBar-entryPoints {
  align-items: center !important;
  padding: 10px !important;
  padding-left: 0px !important;
  margin-top: 20px !important;
  width: 90% !important;
  margin-left: 5% !important;
}

.main-navBar-navBarLink:hover {
  background-color: #2c1e11 !important;
}

.main-navBar-navBarLinkActive {
  background-color: #2c1e11 !important;
}

.Root__nav-bar .ellipsis-one-line {
  position: absolute !important;
  right: 13% !important;
}

.main-rootlist-rootlistDividerGradient {
  display: none !important;
}

.main-rootlist-rootlistDividerContainer {
  width: 100% !important;
  position: absolute !important;
  left: 0px !important;
}

.main-navBar-entryPoints {
  background-color: #2C1E11 !important;
  border-radius: 10px !important;
  padding-top: 0px !important;
}

.main-view-container__scroll-node-child-spacer {
  background-color: #1C130D !important;
}

.main-topBar-background {
  background: none !important;
}

.main-navBar-navBar {
  background-color: #1C130D !important;
}

.main-image-image {
  border-radius: 10px !important;
}

.main-cardImage-imageWrapper {
  background: none !important;
}

.cover-art-image {
  border-radius: 0px !important;
  border-start-start-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.main-nowPlayingWidget-coverArt img {
  border-radius: 10px !important;
}


.cover-art {
  background: none !important;
}

.main-home-content {
  background-color: #1C130D !important;
}

.main-card-card {
  background-color: #2C1E11 !important;
}

.main-card-card:hover {
  background-color: #1C130D !important;
}

.main-playButton-PlayButton svg {
  color: white !important;
}

.main-gridContainer-gridContainer {
  background-color: #1C130D !important;
}

.contentSpacing {
  background-color: #1C130D !important;
}
.encore-dark-theme .encore-bright-accent-set {
  --background-base: #2c1e11 !important;
  --background-highlight: #2c1e11 !important;
  --spice-button: #76502E !important;
}
.main-nowPlayingBar-nowPlayingBar {
  background-color: #1C130D !important;
}

.lyrics-lyricsContainer-LyricsBackground {
  background-color: #1C130D !important;
}

.os-content {
  margin-top: 10px !important;
}

.main-rootlist-rootlistItem  {
  border-radius: 10px !important;
  background-color: #2c1e11 !important;
  padding: 3px !important;
  margin-bottom: 5px !important;
  width: 90% !important;
}

.main-rootlist-rootlistContent {
  margin-left: 8% !important;
  
}

.main-navBar-navBarItem {
  padding: 0 !important;
  background-color: #1C130D !important;
  margin: 0.3em !important;
  margin-left: 0.7em !important;
  border-radius: 10px !important;
}

.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle { border-radius: 4px; width: 6px; background-color: var(--spice-button-disabled); } .os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track { width: 6px; }

.queue-tabBar-active {
  background-color: #1C130D !important;
}

.playing-source-ao-container {
  --playing-source-ao-bkg-color: rgba(0,0,0,0) !important;
  transition: 500ms !important;
}

.playing-source-ao {
  background-color: var(--spice-misc) !important;
  padding-top: 20px !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.encore-dark-theme .encore-inverted-light-set {
  --background-base: var(--spice-card) !important;
  --background-highlight: var(--spice-card) !important;
  --background-press: !important;
  --text-base: var(--spice-text) !important;
}

.main-contextMenu-menuItemButton  .ellipsis-one-line {
	position: relative !important;
}
