:root {
  --spice-main: #1C130D !important;
  --spice-card: #3C2E22 !important;
  --spice-player: #1C130D !important;
  --spice-sidebar: black !important;
  --spice-text: white !important;
  --spice-highlight: var(--spice-card) !important;
  --spice-subtext: white !important;
  --spice-shadow: white !important;
}



.main-playPauseButton-button {
  color: black !important; 
}

.main-trackList-trackListRow.main-trackList-active .main-trackList-rowMarker, .main-trackList-trackListRow.main-trackList-active .main-trackList-rowTitle {
  color: white !important;
}

.Root__nav-bar {
  background-color:  unset;
  border-right: 1px solid var(--spice-card);
  border-radius: 0px 10px 10px 0px;
}

.BoxComponent-group-naked-listRow-isInteractive-hasLeadingOrMedia-paddingBlockStart_8px-paddingBlockEnd_8px-minBlockSize_56px-padding_8px {
  --animation-speed: 500ms;
  -webkit-tap-highlight-color: var(--spice-main);
}

.Root__top-container {
  background-color: var(--spice-main);
}

.main-topBar-overlay {
  background-color: var(--spice-main) !important;
  border-radius: 0px;
}

.Root__now-playing-bar {
  border-radius: 10px 10px 0px 0px !important;
  border-top: 1px solid var(--spice-card) !important;
}

.main-home-homeHeader{
  background-color: #2C1E11 !important;
}

.progress-bar {
  --progress-bar-height: 12px !important;
  --progress-bar-radius: 4px !important;
}

.progress-bar__slider {
  transition: 500ms !important;
}

.x-progressBar-fillColor {
  transition: 500ms !important;
}

.main-navBar-mainNav {
  gap: unset !important;
}

.main-yourLibraryX-entryPoints {
  border-radius: 8px 8px 0px 0px !important;
}

.main-yourLibraryX-entryPoints.main-yourLibraryX-library {
  border-radius: 0px 0px 8px 8px !important;
}
